DEFAULT_MODEL=mistral
DEFAULT_SYSTEM_PROMPT=You are a helpful and friendly assistant. Follow the user's instructions carefully. Don't use emojis or slang. Provide accurate and helpful information.
OPENAI_API_KEY=yourkey
OPENAI_API_HOST=youropenaiapicompatibleendpoint
